<div class="row">
	@if(track) {
	<div class="col-sm-6 col-12">
		<!--TODO: populate with track name-->
		<h1>{{track.name}}</h1>
		<p>
			<!--TODO: link to album page, display album name-->
            Track on: <a [routerLink]="['/album/' , track.album?.id]">{{track.album?.name}}</a>
		</p>
		<div>
			<!--TODO: loop over track's artists-->
			<p>
				<!--TODO: link to artist page, display artist name-->
                Artist: <a [routerLink]="['/artist', track.artists[0]?.id]">{{track.artists[0].name}}</a>

<!--				Artist: <a [href]="track.artists[0]?.url">{{track.artists[0].name}}</a>-->
			</p>
		</div>
		<p>
			<!--TODO: populate with track duration-->
			Duration: {{track.durationStr}}
		</p>
		<p>
			<!--TODO: link to track page on spotify, display track name-->
			<a class="btn btn-light" role="button" target="_blank" [href]="track.url">Open {{track.name}} on Spotify</a>
		</p>
	</div>
	<div class="col-sm-6 col-12">
		<!--TODO: create a thermometer component with the track's popularity-->
		<app-thermometer [popularityStr]="track.popularity.percentageString" [percent]="track.popularity.percent*100"
			[color]="track.popularity.color"></app-thermometer>
	</div>
	}
</div>