@if(artist) {
	<div class="row">
		<div class="col-xl-4 col-12">
			<!--TODO: populate with artist name-->
			<h1>{{artist.name}}</h1>
			<!--TODO: populate with artist image URL-->
			<img id="artistImg" src="{{artist.imageURL}}" alt="{{artist.name}}">
		
			<p>
				<!--TODO: link to artist page on spotify, display artist name-->
				<a class="btn btn-light" role="button" target="_blank">Open {{artist.name}} on Spotify</a>
			</p>
		</div>
		<div class="col-xl-4 col-12">
			<h3>Popularity</h3>
			<!--TODO: display the number of followers, formatted with commas for thousands/millions-->
			<p>{{artist.followers | number:'1.0':'en-US'}} followers</p>
			
			<app-thermometer [popularityStr]="artist.popularity.percentageString" [percent]="artist.popularity.percent*100" 
			[color]="artist.popularity.color" ></app-thermometer>
			<!--TODO: display artist name-->
			<h3>{{artist.name}}'s Albums</h3>
			<app-carousel
				class="col-12 col-sm-6" [resources]="albums" [carouselId]="123">
			</app-carousel>
			<!--TODO: Display a carousel component for the artist's albums. Bind carousel's resources and give it a static carouselId.-->
		</div>
		<div class="col-xl-4 col-12">
			<!--TODO: display artist name-->
			<h3>{{artist.name}}'s Top Tracks</h3>
			<!--TODO: display the artist's top tracks-->
			<app-track-list [tracks]="topTracks"></app-track-list>
		</div>
	</div>
}